{% extends 'layouts/main.html' %}

{% block content %}
    <style type="text/css">
        .hashtags {
            display: flex;
            width: auto;
            margin-left: 10%;
        }
    </style>
    <div class="hashtags">
        {% for hashtag in hashtags %}
            <div class="card" style="width: 20%">
                <div class="card-body">
                    <h5 class="card-title">{{ hashtag.title }}</h5>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}