{% extends 'layouts/main.html' %}

{% block content %}
    <style type="text/css">
        .hashtags {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
        }
    </style>
    <div>
        <form action="/posts/" method="get">
            {% if category_id %}
                <input type="hidden" name="category_id" value="{{ category_id }}">
            {% endif %}
            <input type="text" name="search" value="">
        </form>
    </div>
    <div class="hashtags">
        {% for post in posts %}
            <div class="card" style="width: 20%; margin: 20px">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <a href="/posts/{{ post.id }}/" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        {% for page in max_page %}
            <a href="/posts/?page={{ page }}">
                <button style="width: 25px; height: 25px">{{ page }}</button>

            </a>
        {% endfor %}
    </div>
{% endblock %}