{% extends 'layouts/main.html' %}
{% block content %}
    <style>
        .image > img {
            width: 50%;
            margin-left: 25%;
        }

        .comments {
            width: 70%;
            margin-left: 15%;
        }

        .comments > div {
            height: 45px;
            margin-bottom: 20px;
            background: #242b2e;
            padding: 10px;
        }

        .author {
            color: #fff;
            flex: 18px;
            font-family: sans-serif;
            font-weight: bold;
        }

        .text {
            font-size: 15px;
            font-family: sans-serif;
        }

        .post {
            width: 70%;
            margin-left: 15%;
        }

        textarea {
            height: 30px;
        }
    </style>


    <div class="post">
        {% if post.image %}
            <img src="/media/{{ post.image }}" alt="">
        {% else %}
            <img src="{% static 'img.png' %}" alt="">
        {% endif %}
        <h1>{{ post.title }}</h1>
        <h5>{{ post.description }}</h5>
        <div class="dates">
            <h6>{{ post.created_date }}</h6>
            <h6>{{ post.modified_date }}</h6>
        </div>
        <p class="comments_title">Comments</p>
        <form action="/posts/{{ post.id }}/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add Comment">
        </form>
        <div class="comments">
            {% for comment in comments %}
                <div class="comment_block">
                    <h6>{{ comment.text }}</h6>
                    <p>{{ comment.created_date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
